<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/uploads/profiles/favicon.png">
    <title>Ticket List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            background-color: #D1FAE5;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        tbody tr:nth-child(odd) {
            background-color: #F3F4F6;
        }

        tbody tr:nth-child(even) {
            background-color: #FFFFFF;
        }

        tbody tr:hover {
            background-color: #E5E7EB;
        }
    </style>
</head>

<body class="bg-green-50">

    <div class="max-w-7xl mx-auto p-4">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-3xl font-bold text-gray-800">Tickets Created</h1>
            <a href="/admin/tickets/new"
                class="px-4 py-2 bg-green-500 rounded-full text-white rounded hover:bg-green-600">Create ticket</a>
        </div>

        <table class="min-w-full table-auto bg-white border border-green-200 rounded-full shadow-md">
            <thead class="bg-green-200">
                <tr>
                    <th class="px-4 py-2 text-left text-gray-600">ID</th>
                    <th class="px-4 py-2 text-left text-gray-600">Problem</th>
                    <th class="px-4 py-2 text-left text-gray-600">Status</th>
                    <th class="px-4 py-2 text-left text-gray-600">Category</th>
                    <th class="px-4 py-2 text-left text-gray-600">Priority</th>
                    <th class="px-4 py-2 text-left text-gray-600">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}" class="odd:bg-gray-100 even:bg-white">
                    <td class="px-4 py-2 text-gray-600" th:text="${ticket.id}"></td>
                    <td class="px-4 py-2 text-gray-950" th:text="${ticket.title}"></td>
                    <td class="px-4 py-2 text-gray-600"
                        th:text="${ticket.currentStatus != null ? ticket.currentStatus.statusName : 'No status'}"></td>
                    <td class="px-4 py-2 text-gray-600"
                        th:text="${ticket.category != null ? ticket.category.name : 'No category'}"></td>
                    <td class="px-4 py-2 text-gray-600"
                        th:text="${ticket.priority != null ? ticket.priority.name : 'No priority'}"></td>
                    <td class="px-4 py-2 text-gray-600">
                        <a th:href="@{/admin/tickets/{id}(id=${ticket.id})}"
                            class="px-4 py-1 bg-yellow-500 text-white rounded-full hover:bg-yellow-600 actions">
                            View</a>

                        <a th:href="@{/admin/tickets/delete/{id}(id=${ticket.id})}"
                            th:onclick="'return confirm(\'Do you really want to delete ticket #' + ${ticket.id} + '?\');'"
                            class="px-4 py-1 bg-red-500 text-white rounded-full hover:bg-red-600 ml-2 actions">
                            Delete</a>

                    </td>
                </tr>
            </tbody>
        </table>


        <!-- Si no hay tickets -->
        <div th:if="${#lists.isEmpty(tickets)}" class="mt-4 text-center text-gray-600">
            No avaliable tickets.
        </div>
    </div>

</body>

</html>