<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Ticket</title>
    <script>
        function enableEdit() {
            document.querySelectorAll('input, select, textarea').forEach(el => el.removeAttribute('disabled'));
            document.getElementById('saveBtn').classList.remove('hidden');
            document.getElementById('editBtn').classList.add('hidden');
        }
    </script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-green-50 p-8">

    <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
        <h1 class="text-2xl font-bold mb-4 text-gray-800">Ticket Detail</h1>

        <form th:action="@{/admin/tickets/update}" method="post">
            <input type="hidden" name="ticketId" th:value="${ticket.id}" />

            <div class="mb-4">
                <label class="block text-gray-700">Title</label>
                <input type="text" name="title" th:value="${ticket.title}" disabled
                    class="w-full border border-gray-300 p-2 rounded" />
            </div>

            <div class="mb-4">
                <label class="block text-gray-700">Description</label>
                <textarea name="description" disabled class="w-full border border-gray-300 p-2 rounded" rows="4"
                    th:text="${ticket.description}"></textarea>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700">Status</label>
                <select name="statusId" disabled class="w-full border border-gray-300 p-2 rounded">
                    <option th:each="stat : ${status}" th:value="${stat.id}" th:text="${stat.name}"
                        th:selected="${ticket.currentStatus != null && stat.name == ticket.currentStatus.statusName}">
                    </option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700">Category</label>
                <select name="categoryId" disabled class="w-full border border-gray-300 p-2 rounded">
                    <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"
                        th:selected="${ticket.category != null && cat.id == ticket.category.id}"></option>
                </select>
            </div>

            <div class="mb-4">
                <label class="block text-gray-700">Priority</label>
                <select name="priorityId" disabled class="w-full border border-gray-300 p-2 rounded">
                    <option th:each="priority : ${priorities}" th:value="${priority.id}" th:text="${priority.name}"
                        th:selected="${ticket.priority != null && priority.id == ticket.priority.id}"></option>
                </select>
            </div>

            <!-- Comentarios -->
            <div class="mb-4">
                <label class="block text-gray-700">Comments</label>
                <div th:each="comment : ${ticket.comments}">
                    <form th:action="@{/admin/tickets/comments/{id}(id=${comment.id})}" method="post">
                        <input type="hidden" name="ticketId" th:value="${ticket.id}" />
                        <div class="bg-gray-100 p-4 rounded-lg mb-2">
                            <div class="flex justify-between">
                                <div class="flex items-center">
                                    <span class="font-bold" th:text="${comment.userFullName}"></span>
                                </div>
                            </div>
                            <div>
                                <textarea name="text" class="w-full border border-gray-300 p-2 rounded mt-2" disabled
                                    th:text="${comment.commentText}"></textarea>
                            </div>
                            <div class="text-right mt-2">
                                <button type="submit"
                                    class="bg-green-600 text-white px-3 py-1 rounded hover:bg-blue-600 " disabled>
                                    Save Comment
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="flex items-center justify-end">
                <div class="flex gap-4">
                    <button type="button" id="editBtn" onclick="enableEdit()"
                        class="bg-yellow-500 text-white px-4 py-2 rounded-full hover:bg-yellow-600">
                        Edit
                    </button>

                    <button type="submit" id="saveBtn"
                        class="bg-green-600 text-white px-4 py-2 rounded-full hover:bg-green-700 hidden">
                        Update
                    </button>
                </div>
                <a th:href="@{/admin/tickets/delete/{id}(id=${ticket.id})}"
                    th:onclick="'return confirm(\'Do you really want to delete ticket #' + ${ticket.id} + '?\');'"
                    class="px-4 py-2 bg-red-500 text-white rounded-full hover:bg-red-600 ml-2 actions">
                    Delete
                </a>
            </div>
        </form>
    </div>

</body>

</html>