---
import "../styles/global.css";
---

<footer class="text-white px-8 py-6 text-sm">
  <p>
    Contact with deskify
    <span class="font-thin ms-5">
      <a href="" class="underline">+34 981 86 23 65</a>
      or
      <a href="" class="underline">welcome@deskify.com</a>
    </span>
  </p>
  <hr class="text-green-100 mt-4 mb-6" />

  <div id="columns" class="grid">
    <div class="flex justify-between me-100">
      <ul>
        <li>Enterprise</li>
        <li>Who we are</li>
        <li>Investors</li>
        <li>Clients</li>
        <li>Partners</li>
        <li>News</li>
        <li>Contact</li>
      </ul>

      <ul>
        <li>Support</li>
        <li>Support</li>
        <li>Services</li>
        <li>Community</li>
      </ul>

      <ul>
        <li>Products</li>
        <li>News</li>
        <li>deskify</li>
        <li>Ticketing</li>
      </ul>
    </div>
    <ul>
      <li>Social Media</li>
      <li>Instagram</li>
      <li>LinkedIn</li>
      <li>Facebook</li>
      <li>Youtube</li>
      <li>Twitter</li>
    </ul>
  </div>

  <hr class="text-green-100 mt-4 mb-6" />

  <div class="flex text-xs font-light justify-between">
    <ul class="flex justify-between w-[600px]">
      <li>Legal</li>
      <li>Privacy Notice</li>
      <li>Site terms</li>
      <li>Cookie Policy</li>
      <li>Security</li>
      <li>Unsubscribe</li>
      <li>Accesibility</li>
    </ul>

    <ul class="flex">&copy; 2025 deskify · All rights reserved</ul>
  </div>
</footer>

<style>
  footer {
    background-color: #02353c;
  }
  #columns {
    font-weight: 300;
    grid-template-columns: 4fr 1fr;
  }

  #columns ul {
    width: fit-content;
  }

  #columns ul li {
    cursor: pointer;
    margin: 12px 0;
    width: fit-content;
    position: relative;
  }

  #columns ul li:hover:not(:first-child)::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #columns ul li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  /* Primer elemento no tiene subrayado */
  #columns ul li:first-child {
    cursor: inherit;
    font-weight: 400;
    font-size: 1.2em;
  }
</style>


