---
import FlatLink from "./FlatLink.astro";
import WhiteButton from "./WhiteButton.astro";
---

<header class="px-8 py-1">
  <nav class="flex justify-between items-center text-white -15">
    <a href="/">
      <img src="/images/deskify02.png" alt="Deskify's Logo" class="h-15" />
    </a>
    <ul class="flex w-[60%] justify-between">
      <li><FlatLink text="Home" href="/" /></li>
      <li><FlatLink text="About" href="/about" /></li>
      <li><FlatLink text="Subscription" href="/subscription" /></li>
      <li><FlatLink text="Platform" href="/platform" /></li>
      <li><FlatLink text="Our Clients" href="/clients" /></li>
    </ul>
    <div class="flex justify-between w-40 items-center">
      <a href="" class="btn">Sign in</a>
      <WhiteButton text="FREE Trial" />
    </div>
  </nav>
</header>

<style>
  header {
    background-color: #01c8830e;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 8px 2px rgba(39, 39, 39, 0.438);
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    cursor: pointer;
  }
</style>
