---
const { title, desc } = Astro.props;
import "../styles/global.css";
---

<h1 class="text-5xl text-shadow  leading-16">
  {title}
</h1>
<q class="mt-8 leading-6 italic text-lg"
  >{desc}</q
>

<style>
  .text-shadow {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra suave y sutil */
  }
</style>
