---
const { title, desc, class: additionalClass } = Astro.props;
import "../styles/global.css";
---

<h1 class={`text-5xl text-shadow leading-16 ${additionalClass}`}>
  {title}
</h1>
<p class="mt-8 leading-6 text-lg text-center">{desc}</p>

<style>
  .text-shadow {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra suave y sutil */
  }
</style>
