---
import "../styles/global.css";
import Button from "./Button.astro";
---

<div class="text-white ms-50 h-[93vh] flex flex-col justify-center items-start">
  <h1 class="text-5xl text-shadow">
    Support without borders,
    <br />results without limits
  </h1>
  <q class="mt-8">Deskify simplifies customer support, ensuring fast response times and
    effective solutions.</q>

    <Button text="Let's get started"></Button>
</div>

<style>
  .text-shadow {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra suave y sutil */
  }
</style>
