---
import Title from "../components/Title.astro";
import Button from "../components/Button.astro";
import BlankButton from "../components/BlankButton.astro";
import BoxButton from "../components/BoxButton.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import TextBox from "../components/TextBox.astro";
import Line from "../components/Line.astro";
import SubTitle from "../components/SubTitle.astro";
import GradientTitle from "../components/GradientTitle.astro";
import Text from "../components/Text.astro";
const appUrl = import.meta.env.PUBLIC_APP_URL;
---

<Layout
  backgroundImage="/images/background/platform00.jpg"
  backgroundSize="cover"
>
  <div
    class="min-h-screen w-full flex flex-col justify-center items-start px-4 md:px-12 lg:px-24 xl:px-50 text-white"
  >
    <Title
      title="Solving problems, driving businesses forward"
      desc="Deskify transforms support into a seamless and agile experience. Solving problems so your business can grow."
    />
    <Button text="Let's get started" href={appUrl} />
  </div>

  <div
    id="container-about"
    class="md:pt-10 pt-40 md:px-15 px-5 md:bg-top bg-center"
  >
    <img src="/images/logo.png" alt="Deskify's Logo" class="mx-auto w-35" />
    <h2 class="text-center text-6xl font-light mt-10">Introducing deskify</h2>
    <p class="text-center mx-auto text-2xl font-light mt-8 md:w-[70%] font-xl">
      Deskify simplifies customer support by providing an intuitive and
      efficient platform that adapts to the needs of any organisation. With
      tools designed to handle requests in an agile manner, it ensures fast
      response times and effective solutions that improve customer satisfaction.
      From ticket receipt to resolution, Deskify transforms the support
      experience into a streamlined, hassle-free process.
    </p>

    <TextBox
      h3="Cutting-edge technology"
      title="Innovation at the service of the customer"
      desc="Deskify combines the latest technologies in web development to create a modern and functional tool. Our focus is to offer a solution that evolves with the needs of companies and optimises their customer service."
      image="/images/innovation.svg"
      alt="Man with bulb, in representation of innovation"
      imagePosition="right"
    />
    <TextBox
      h3="We all belong to"
      title="Uncomplicated efficiency"
      desc="We believe that support doesn't have to be complicated. That's why Deskify is designed to simplify every process from ticket entry to resolution, ensuring speed and clarity in every interaction."
      image="/images/TeamWork.svg"
      alt="Team of workers"
      imagePosition="left"
    />
    <TextBox
      h3="Globalized service"
      title="Without limits, just oportunities"
      desc="We were born with a vision to break the boundaries of technical support. Inspired by European innovation and open to the world, Deskify is made for companies that want to expand and provide exceptional service wherever they operate."
      image="/images/Global.svg"
      alt="Globalization"
      imagePosition="right"
    />

    <div class="py-10">
      <Line width="full" />
      <GradientTitle
        text="Building the future"
        class="text-center mt-25 mb-10"
      />
      <SubTitle
        text="Innovation driven by design and technology"
        class="text-center"
      />
      <Text
        class="text-center md:w-[60%] mx-auto"
        text="Innovation isn't just a goal, it's the path we follow. We combine intuitive design with cutting-edge technology to create efficient support solutions that transform the customer experience and streamline business processes."
      />
      <div class="flex flex-col md:flex-row gap-5 justify-center mt-12">
        <BlankButton text="Learn more" href="/platform" />
        <Button text="Explore Deskify" href={appUrl} />
      </div>
    </div>
  </div>
  <div
    class="background px-4 md:px-15 py-25 flex flex-col md:flex-row relative"
  >
    <div class="relative z-10">
      <!-- Imagen de fondo -->
      <div
        class="absolute inset-0 z-[-5] ms-40 bg-no-repeat opacity-20 pointer-events-none"
        style="background-image: url('/public/logo.png');"
      >
      </div>

      <!-- Título y texto -->
      <SubTitle
        class="text-3xl md:text-5xl"
        text="Find out how Deskify can transform your business."
      />
      <Text
        text="Need an elite team of technologists and thinkers? Is quality important to you? Do you value scalability and infinite customization? Do you need a brand built specifically for your company that can be as innovative as you are?"
      />
      <Text
        text="Tell us a little about your needs and one of our Customer Success Specialists will contact you."
        class="mt-6"
      />

      <!-- Párrafo con correo -->
      <p class="text-xl md:text-3xl mt-10">
        Say Hi! <a
          class="font-thin underline ms-6"
          href="mailto:welcome@deskify.com">welcome@deskify.com</a
        >
      </p>
    </div>

    <!-- Botón "Let's get started" -->
    <div
      class="w-full md:w-400 flex flex-col justify-center items-center relative z-10 mt-8 md:mt-0"
    >
      <BoxButton text="Find out now" href={appUrl} />
    </div>
  </div>
</Layout>

<style>
  #container-about {
    background-image: url("/images/background/whiteBg02.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    color: #3a3a3a;
    z-index: 10;
    background-size: cover; 
  }

  @media (min-width: 1920px) {
    #container-about {
      background-size: cover;
      padding-top: 200px;
    }
  }

  .background {
    background: linear-gradient(45deg, #00aa6f, #00ff7a 100%);
    color: white;
  }
</style>
