---
import Title from "../components/Title.astro";
import SubTitle from "../components/SubTitle.astro";
import Button from "../components/Button.astro";
import Text from "../components/Text.astro";
import Line from "../components/Line.astro";
import Opinion from "../components/Opinion.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout backgroundImage="/images/background/index.png" backgroundSize="contain">
  <div class="w-full flex flex-col items-center px-4 md:px-12 lg:px-24 xl:px-50 text-white mt-10">
    <Title
      title="They trust us"
      desc="Discover why leading companies rely on our services."
    />
  </div>

  <div id="container" class="bg-white mt-10 px-5 py-15 md:px-15">
    <!-- Contenedor de opiniones con breakpoint personalizado -->
    <div class="mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-6 gap-8">
      <Opinion
        image="/images/Clients/Empresa01.png"
        name="Skyloft"
        message="Deskify greatly enhanced our customer service!"
        rating="★★★★★"
      />
      <Opinion
        image="/images/Clients/Empresa02.png"
        name="ElevateTech Partners"
        message="The perfect platform to optimize technical support and results."
        rating="★★★★★"
      />
      <Opinion
        image="/images/Clients/Empresa03.png"
        name="Orbital"
        message="Our customers have never been more satisfied."
        rating="★★★★☆"
      />
      <Opinion
        image="/images/Clients/Empresa04.png"
        name="CloudLink Innovations"
        message="Essential for our success."
        rating="★★★★★"
      />
      <Opinion
        image="/images/Clients/Empresa05.png"
        name="VelocityWorks Inc."
        message="Agile, intuitive, and crucial for our daily operations."
        rating="★★★★☆"
      />
      <Opinion
        image="/images/Clients/Empresa06.png"
        name="Nexora"
        message="Deskify completely transformed our customer support."
        rating="★★★★★"
      />
    </div>

    <div class="flex flex-col items-center mt-10 md:mt-20">
      <SubTitle text="Connect, boost and grow with us." class="text-center" />
      <Line width="half"/>
      <Text
        text="Be part of a community that values innovation and excellence. With Deskify, connecting with your customers has never been easier or more effective. "
        class="md:w-1/2 text-center pb-2"
      />
      <Text text="Discover the future of tech support today!" class="text-center" />

      <Button text="Join us" class="mt-6" />
    </div>
  </div>
</Layout>