---
import Title from "../components/Title.astro";
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout backgroundImage="/images/background/index.png" backgroundSize="cover">
  <div class="text-white ms-50 h-[93vh] flex flex-col justify-center items-start">
    <Title
      title="Support without borders, results without limits"
      desc="Deskify simplifies customer support, ensuring fast response times and effective solutions."
    />
    <Button text="Let's get started" />
  </div>
</Layout>

