---
// Importación de componentes
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="flex flex-col min-h-screen"> <!-- Flexbox para el layout -->
    <Header />

    <!-- Contenido principal, puede ser cualquier cosa -->
    <main class="flex-grow">
      <!-- Aquí puedes poner el contenido dinámico -->
      <slot></slot>  <!-- Esto servirá para poner contenido dentro del layout -->
    </main>

    <Footer />
  </body>
</html>

<style>
  body {
    background-image: url("/images/index.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  /* Asegúrate de que el footer esté al fondo */
  main {
    flex-grow: 1; /* Esto hará que el contenido principal ocupe el espacio disponible */
  }
</style>
