---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { backgroundImage, backgroundSize = "cover" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png+xml" href="/logo.png" />
    <title>Deskify</title>
  </head>
  <body class="flex flex-col min-h-screen"
    style={`background-image: url(${backgroundImage}); background-size: ${backgroundSize}; background-repeat: no-repeat; `}>
    <Header />

    <main class="flex-grow">
      <slot></slot>
    </main>

    <Footer />
  </body>
</html>

<style>
  main {
    flex-grow: 1;
  }
</style>